<div class="container">
    <h1>{{ header }}</h1>
    <a class="btn btn-default" href="{{ thisHost }}?/admin/logout">
        <span class="glyphicon glyphicon-off"></span>Выйти
    </a>
</div>

<div class="panel-group" id="collapse-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#collapse-group" href="#el1">Вопросы без ответа</a>
            </h4>
        </div>
        <div id="el1" class="panel-collapse collapse">
            <div class="panel-body table-responsive">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th>ID</th>
                        <th>Имя</th>
                        <th>Почта</th>
                        <th>Вопрос</th>
                        <th>Время</th>
                        <th>Категория</th>
                        <th></th>
                    </tr>
                    {% for question in questions['unanswered'] %}
                        <tr>
                            <td>{{ question['id'] }}</td>
                            <td>{{ question['name'] }}</td>
                            <td>{{ question['email'] }}</td>
                            <td>{{ question['question'] }}</td>
                            <td>{{ question['time'] }}</td>
                            <td>
                                {% for category in categories %}
                                    {% if question['category'] == category['id'] %}
                                        {{ category['title'] }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                <form action="{{ thisHost }}?/admin/edit" method="POST">
                                    <input type="hidden" value="{{ question['id'] }}" name="id">
                                    <input type="hidden" value="unanswered" name="type">
                                    <button type="submit" class="btn btn-default btn-xs" title="Ответить">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </button>
                                    <br>
                                    <button type="submit" name="action" value="delete"
                                            class="btn btn-default btn-xs"
                                            title="Удалить">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#collapse-group" href="#el2">Заблокированные вопросы</a>
            </h4>
        </div>
        <div id="el2" class="panel-collapse collapse">
            <div class="panel-body table-responsive">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th>ID</th>
                        <th>Имя</th>
                        <th>Почта</th>
                        <th>Вопрос</th>
                        <th>Время</th>
                        <th>Категория</th>
                        <th>Запрещенные слова</th>
                        <th></th>
                    </tr>
                    {% for question in questions['blocked'] %}
                        <tr>
                            <td>{{ question['id'] }}</td>
                            <td>{{ question['name'] }}</td>
                            <td>{{ question['email'] }}</td>
                            <td>{{ question['question'] }}</td>
                            <td>{{ question['time'] }}</td>
                            <td>
                                {% for category in categories %}
                                    {% if question['category'] == category['id'] %}
                                        {{ category['title'] }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                {% for word in words %}
                                    {% if word['id'] in question['words'] %}
                                        {{ word['word'] }}<br>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                <form action="{{ thisHost }}?/admin/edit" method="POST">
                                    <input type="hidden" value="{{ question['id'] }}" name="id">
                                    <input type="hidden" value="blocked" name="type">
                                    <button type="submit" class="btn btn-default btn-xs" title="Ответить">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </button>
                                    <br>
                                    <button type="submit" name="action" value="delete"
                                            class="btn btn-default btn-xs"
                                            title="Удалить">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#collapse-group" href="#el3">Вопросы с ответом</a>
            </h4>
        </div>
        <div id="el3" class="panel-collapse collapse">
            <div class="panel-body table-responsive">
                {% for category in categories %}
                    <div>
                        <h3>{{ category['title'] }}</h3>
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th>ID</th>
                                <th>Имя</th>
                                <th>Почта</th>
                                <th>Вопрос</th>
                                <th>Ответ</th>
                                <th>Время</th>
                                <th></th>
                            </tr>
                            {% for question in questions['answer'] %}
                                {% if question['category'] == category['id'] %}
                                    <tr>
                                        <td>{{ question['id'] }}</td>
                                        <td>{{ question['name'] }}</td>
                                        <td>{{ question['email'] }}</td>
                                        <td>{{ question['question'] }}</td>
                                        <td>{{ question['answers'] }}</td>
                                        <td>{{ question['time'] }}</td>
                                        <td>
                                            <form action="{{ thisHost }}?/admin/edit" method="POST">
                                                <input type="hidden" value="{{ question['id'] }}" name="id">
                                                <input type="hidden" value="answer" name="type">
                                                <button type="submit" class="btn btn-default btn-xs"
                                                        title="Редактировать">
                                                    <span class="glyphicon glyphicon-edit"></span>
                                                </button>
                                                <br>
                                                <button type="submit" name="action" value="delete"
                                                        class="btn btn-default btn-xs"
                                                        title="Удалить">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                                <br>
                                                {% if question['hidden'] == '0' %}
                                                    <button type="submit" name="action" value="hidden"
                                                            class="btn btn-default btn-xs"
                                                            title="Скрыть">
                                                        <span class="glyphicon glyphicon-eye-close"></span>
                                                    </button>
                                                {% else %}
                                                    <button type="submit" name="action" value="open"
                                                            class="btn btn-default btn-xs"
                                                            title="Открыть">
                                                        <span class="glyphicon glyphicon-eye-open"></span>
                                                    </button>
                                                {% endif %}
                                            </form>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </table>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#collapse-group" href="#el4">Список категорий</a>
            </h4>
        </div>
        <div id="el4" class="panel-collapse collapse ">
            <div class="panel-body table-responsive">
                <table class="table table-bordered table-hover table-condensed">
                    <tr>
                        <th>ID</th>
                        <th>Заголовок</th>
                        <th>Без ответа</th>
                        <th>Заблокированные</th>
                        <th>С ответом<br>всего/скрытых</th>
                    </tr>
                    {% for category in categories %}
                        <tr>
                            <td>{{ category['id'] }}</td>
                            <td>
                                <form method="POST" action="{{ thisHost }}?/admin/category">
                                    <input type="hidden" name="id" value="{{ category['id'] }}">
                                    <input type="text" name="title" value="{{ category['title'] }}">
                                    <button type="submit" name="action" value="save"
                                            class="btn btn-default btn-xs"
                                            title="Сохранить">
                                        <span class="glyphicon glyphicon-ok"></span>
                                    </button>
                                    <button type="submit" name="action" value="delete"
                                            class="btn btn-default btn-xs"
                                            title="Удалить">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </form>
                            </td>
                            <td>{{ category['unanswered'] }}</td>
                            <td>{{ category['blocked'] }}</td>
                            <td>{{ category['answer'] }}/{{ category['hidden'] }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <form method="POST" action="{{ thisHost }}?/admin/category">
                    <p>
                        <lable id="name">Добавить:</lable>
                        <input id="name" type="text" name="title" placeholder="Заголовок">
                        <button type="submit" name="action" value="add"
                                class="btn btn-default"
                                title="Добавить">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        <span style="color: chocolate">*Пустой заголовок не сохранится</span>
                    </p>
                </form>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#collapse-group" href="#el5">Список ключевых слов</a>
            </h4>
        </div>
        <div id="el5" class="panel-collapse collapse table-responsive">
            <div class="container">
                <p>*Слова или словосочетание разделяются запятой и пробелом
                    <br><span style="color: #a9c056">Пример: "Слово, очень плохое слово"</span>
                    <br><span style="color: #dd4444">Плохой пример: "Сло во , оченьплохое слово, "</span>
                </p>
                <form method="POST" action="{{ thisHost }}?/admin/dictionary">
                    <textarea name="dictionary" cols="40" rows="3">{{ dictionary }}</textarea>
                    <br><br>
                    <button type="submit" class="btn btn-default" title="Сохранить">
                        <span class="glyphicon glyphicon-ok-circle"></span>Сохранить
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#collapse-group" href="#el6">Список администраторов</a>
            </h4>
        </div>
        <div id="el6" class="panel-collapse collapse">
            <div class="panel-body table-responsive">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th>ID</th>
                        <th>Данные</th>
                    </tr>
                    {% for admin in admins %}
                        <tr>
                            <td>{{ admin['id'] }}</td>
                            <td>
                                <form method="POST" action="{{ thisHost }}?/admin/admin">
                                    <input type="hidden" name="id" value="{{ admin['id'] }}">
                                    <input type="text" name="login" value="{{ admin['login'] }}">
                                    <input type="text" name="password" placeholder="password">
                                    <button type="submit" name="action" value="save"
                                            class="btn btn-default btn-xs"
                                            title="Сохранить">
                                        <span class="glyphicon glyphicon-refresh"></span>
                                    </button>
                                    {% if admin['id'] != 1 %}
                                        <button type="submit" name="action" value="delete"
                                                class="btn btn-default btn-xs"
                                                title="Удалить">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    {% endif %}
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <form method="POST" action="{{ thisHost }}?/admin/admin">
                    <p>
                        <lable id="name">Добавить:</lable>
                        <input id="name" type="text" name="login" placeholder="login">
                        <input id="name" type="text" name="password" placeholder="password">
                        <button type="submit" name="action" value="add"
                                class="btn btn-default"
                                title="Добавить">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        <span style="color: chocolate">
                            *Логин и пароль должны состоят из цифр и букв латинского альфавита
                        </span>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>